.card {
    background-color: aliceblue;
    border-radius: 18px;
    padding: 24px; 
    min-height: 80vh; 
}
.btn {
    border-radius: 12px;
    min-width: 200px;
    max-width: 200px;
}
table{
    border-radius: 1em !important;
    /* border: 4px red solid; */
    border-top: 4px rgb(24, 24, 24) solid;
    border-bottom: 4px rgb(0, 0, 0) solid;
    padding: 8px;
    display: none;
    border-collapse: collapse;
    width: 90%;
}
td,th {
    padding: 8px;
    border-bottom: 2px solid white; 
}
th{
    background-color: rgba(182, 182, 182, 0.745);
}
tr:nth-child(even) {
    background-color: #eeeeeeb7;
  }
  .userTable{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }